<!-- Page Heading -->
<a href="/users" class="btn btn-primary mb-3">Kembali</a>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Edit an Account!</h1>
        </div>
        <form class="user" action='/prosesedituser' method="post">
            <div class="form-group row">
                <input type="hidden" name="id" value="<%- user._id %>">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="email" class="form-control form-control-user" id="email" name="email" value="<%- user.email %>" readonly
                        placeholder="Input your Email" required>
                </div>
                <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" id="password" name="password" value="<%- user.password%>"
                        placeholder="Input your Password" required>
                </div>
            </div>
            <div class="form-group">
                <select name="role" id="role" class="form-control">
                    <option  value="admin" <%- user.role=='admin'?'selected':'' %> >Admin</option>
                    <option  value="user"  <%- user.role=='user'?'selected':'' %>>User</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-user btn-block"> EDIT USER</button>
    </div>
</div>